testsuite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testsuite">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="call" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dataset" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required" />
											<xs:attribute name="path" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="path" type="xs:string" use="required" />
						<xs:attribute name="version" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>